//Herbalife Nutrition Color Palette Variables
$hb-light-green: rgb(122, 193, 67); //#7ac143
$hb-main-green: rgb(103, 188, 42); //#67bc2a
$hb-light-gray: rgb(221, 221, 221); //#dddddd
$hb-mid-gray: rgb(199, 199, 199); //#c7c7c7
$hb-dark-gray: rgb(77, 77, 77); //#4d4d4d

//Other color references
$hb-hero-bd-img: rgb(255, 255, 0); //#ffff00

//Herbalife Nutrition Typography Variable
$hb-typography: Helvetica Neue, Helvetica, Arial, sans-serif;

//Herbalife Nutrition Breakpoints
//Smartphones
$hb-sm-breakpoint: 320px;
$hb-md-breakpoint: 480px;

//Tablets
$hb-tb-sm-breakpoint: 480px;
$hb-tb-md-breakpoint: 768px;

//Laptops
$hb-lp-sm-breakpoint: 768px;
$hb-lp-md-breakpoint: 1024px;

//Desktops
$hb-dt-sm-breakpoint: 1024px;
$hb-dt-md-breakpoint: 1200px;
$hb-dt-lg-breakpoint: 1920px;