/* --faq.html styling-- */
.questions {
    margin-bottom: 12px;

    &-title {
        text-align: center;
        text-transform: uppercase;
    }

    & .container {
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;

        & .card-question {
            text-align: center;
            padding: 6px;
        }

        & .card-answer {
            text-align: justify;
            padding: 6px;
        }

        & .answer-list {
            list-style-type: disc;
            list-style-position: inside;

            &_item {
                padding: 3px;
            }
        }
    }
}

.question-form {
    margin-top: 12px;
    padding: 12px;

    & .form-title {
        text-align: center;
        text-transform: uppercase;
    }

    & .form-text {
        text-align: justify;
        padding: 12px;
    }
}

@media screen and (min-width:640px) and (max-width:$desktop-top-bkp) {
    .questions {
        width: 100%;

        &-title {
            padding: 12px;
        }

        & .container {
            flex-flow: row nowrap;
            overflow-x: auto;

            & .card {
                min-width: 320px;
                min-height: 420px;
            }
        }
    }

    .question-form {
        width: 100%;
        background-color: $hb-light-green;
        border-radius: 10px;

        & .form-text {
            text-align: center;
        }
    }

    .form {
        margin: 0 auto;
    }
}

@media (min-width:$desktop-mid-bkp) and (max-width:$desktop-top-bkp) {
    .questions {
        & .container {
            justify-content: space-evenly;
        }
    }
}