/* --index.html styling-- */
.hero {
    background-image: url("../images/hb_nutrition_wp_black_1547x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    &-text {
        text-align: justify;
    }
}

.main-title {
    text-align: center;
}

.testimonials {
    display: flex;
    flex-flow: column nowrap;
    padding: 6px;

}

@media screen and (min-width: $hb-tb-bottom-breakpoint) and (max-width: $hb-tb-top-breakpoint) {

    .hero {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;

        & .container {
            width: 50%;
            display: block;
            margin: auto;
        }
    }

    .testimonials .container {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: auto;
        gap: 10px;
        padding: 6px;

        & .card {
            min-width: 420px;
            min-height: 180px;
        }
    }
}