/* --index.html styling-- */
.hero {
    height: 350px;
    background-image: url("../images/hb_nutrition_wp_black_1547x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    & .container {
        width: 100%;
    }

    &-text {
        text-align: justify;
    }
}

.main-title {
    text-align: center;
}

.testimonials {
    width: 100%;

    & .container {
        display: flex;
        flex-flow: column nowrap;
        padding: 6px;

    }
}

@media screen and (min-width:640px) and (max-width:$desktop-top-bkp) {
    .hero {
        display: flex;
        align-items: center;

        & .container {
            width: 60%;
            font-size: 1.25rem;
        }

        &-title,
        &-text {
            padding: 12px;
        }
    }

    .testimonials {
        & .container {
            flex-flow: row nowrap;
            align-items: flex-start;
            overflow-x: auto;

            & .card {
                min-height: 240px;
            }
        }
    }
}