/* --products.html styling-- */
.products,
.membership {
    background-color: $hb-light-gray;
    border-radius: 10px;
    margin-bottom: 12px;

    &-title {
        text-transform: uppercase;
        text-align: center;
        padding: 6px;
    }

    & .container {
        display: flex;
        flex-flow: column nowrap;
        gap: 5px;

        & .card {
            display: flex;
            flex-direction: column;
        }

        & .card-list_item {
            list-style-type: disc;
            list-style-position: inside;
        }
    }

    &-disclosure {
        display: block;
        text-align: justify;
        text-transform: uppercase;
        margin-top: 12px;
        padding: 6px;
    }
}

.preparation {
    display: none;
    border-radius: 10px;

    &-title {
        text-align: center;
    }

    & .container {
        display: flex;
        flex-flow: column nowrap;

        & .preparation-list_item {
            padding: 6px;
        }

        & .ingredients-list {
            list-style-type: disc;
            padding: 3px;
        }
    }
}

@media screen and (min-width:640px) and (max-width:$tablet-top-bkp) {

    .products,
    .membership {
        width: 100%;

        & .container {
            flex-flow: row nowrap;
            overflow: auto;
        }
    }

    .products {
        & .container {
            & .card {
                min-width: 380px;
                min-height: 640px;
            }
        }
    }

    .membership {
        & .container {
            justify-content: space-evenly;

            & .card {
                min-width: 350px;
                min-height: 500px;
            }
        }
    }

}

@media (min-width:$desktop-btm-bkp) and (max-width:$desktop-top-bkp) {

    .products,
    .membership {
        width: 100%;

        & .container {
            flex-flow: row nowrap;
            overflow: auto;
        }
    }

    .products {
        & .container {
            & .card {
                min-width: 420px;
                min-height: 640px;
            }
        }
    }

    .membership {
        & .container {
            justify-content: space-evenly;

            & .card {
                min-width: 350px;
                min-height: 500px;
            }
        }
    }

    .preparation {
        display: contents;

        & .container {
            flex-flow: row nowrap;
            justify-content: center;
            margin-bottom: 12px;

            & .card {
                max-width: 80%;
            }
        }
    }

    .ingredients {
        list-style-type: disc;
        list-style-position: inside;
    }
}

@media (min-width:$desktop-mid-bkp) and (max-width:$desktop-top-bkp) {
    .products {
        & .container {
            justify-content: space-evenly;
        }
    }

    .preparation {
        display: contents;
        & .container {
            & .card {
                max-width: 50%;
            }
        }
    }
}