/* --global footer styling-- */
.footer {
    background-color: $hb-mid-gray;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    &-text {
        padding: 6px;
    }

    & .container {
        text-align: justify;
        border-bottom: 6px solid #000;

        & a {
            color: $hb-main-green;
            font-weight: 800;
        }
    }

}

.footer-legal,
.footer-social_media {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding: 4px;

    & a {
        color: $hb-dark-gray;
        font-weight: 600;
    }
}

// @media screen and (min-width: 600px) and (max-width: $hb-tb-top-breakpoint) {
//     .footer {
//         & a {
//             width: 44%;
//             max-width: 320px;
//         }

//         & .container {
//             display: flex;
//             flex-flow: row nowrap;
//             justify-content: space-evenly;
//         }

//         &-text {
//             width: 33%;
//         }
//     }
// }

// @media screen and (min-width:$hb-lp-bottom-breakpoint) and (max-width:$hb-dt-md-breakpoint) {
//     .footer {

//         & a {
//             width: 35%;
//             max-width: 280px;
//         }

//         & .container {
//             display: flex;
//             flex-flow: row nowrap;
//             justify-content: space-between;
//         }

//         &-text {
//             width: 33%;
//             max-width: 280px;
//         }
//     }
// }