/* --global footer styling-- */
.footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $hb-mid-gray;

    & .container {
        text-align: justify;
        border-bottom: 6px solid #000;

        & a {
            color: $hb-main-green;
            font-weight: 800;
        }
    }

    &-text {
        padding: 6px;
    }
}

.legal,
.social-media {
    width: 100%;
}

.footer-legal,
.footer-social_media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding: 4px;
    min-height: 30px;
    max-height: 45px;

    & a {
        color: $hb-dark-gray;
        font-weight: 600;
    }
}

@media screen and (min-width:600px) and (max-width:$mobile-top-bkp) {
    .footer {
        & a {
            align-self: flex-start;
        }
    }
}

@media screen and (min-width:$tablet-btm-bkp) and (max-width:$tablet-top-bkp) {
    .footer {
        & a {
            align-self: flex-start;
        }

        & .container {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            text-align: start;
        }

        &-text {
            width: 33%;
            height: 100%;
            min-height: 160px;
        }
    }
}

@media screen and (min-width:$desktop-btm-bkp) {
    .footer {
        flex-flow: row wrap;

        & .container {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            text-align: start;
        }

        &-text {
            width: 33%;
            height: 100%;
            min-height: 160px;
        }
    }
}