/* --global footer styling-- */
.footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $hb-mid-gray;

    & a {
        align-self: flex-start;
    }

    & .container {
        text-align: justify;
        border-bottom: 6px solid #000;

        & a {
            color: $hb-main-green;
            font-weight: 800;
        }
    }

    &-text {
        padding: 6px;
    }
}

.legal,
.social-media {
    width: 100%;
}

.footer-legal,
.footer-social_media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding: 4px;
    min-height: 30px;
    max-height: 45px;

    & a {
        cursor: pointer;
        font-weight: 600;

        &:hover {
            font-size: 1.5rem;
        }
    }

}

@media screen and (min-width:$tablet-btm-bkp) and (max-width:$tablet-top-bkp) {
    .footer {

        & .container {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            text-align: start;
        }

        &-text {
            width: 33%;
            height: 100%;
            min-height: 160px;
        }
    }

    .footer-legal a {
        color: $hb-dark-gray;

        &:hover {
            border-radius: 12px;
            padding: 5px;
        }
    }

    .footer-social_media li {

        &:nth-child(1) {
            & a {
                color: blue;
            }
        }

        &:nth-child(2) {
            & a {
                color: purple;
            }
        }

        &:nth-child(3) {
            & a {
                color: darkred;
            }
        }
    }

}


@media screen and (min-width:$desktop-btm-bkp) {
    .footer {
        flex-flow: row wrap;

        & .container {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            text-align: start;
        }

        &-text {
            width: 33%;
            height: 100%;
            min-height: 160px;
        }
    }

    .footer-legal a {
        color: $hb-main-green;

        &:hover {
            color: #fff;
            background-color: $hb-light-green;
            border-radius: 12px;
            padding: 5px;
        }
    }

    .footer-social_media li {

        &:nth-child(1) {
            & a {
                color: blue;
            }
        }

        &:nth-child(2) {
            & a {
                color: purple;
            }
        }

        &:nth-child(3) {
            & a {
                color: darkred;
            }
        }
    }
}