/* --global form styling-- */
.form {
    width: 100%;
    max-width: $smp-max-width;
    background-color: $hb-mid-gray;
    border: 2px solid $hb-dark-gray;
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8px;

    & label {
        width: 100%;
        padding: 4px;
    }

    &-input {
        width: 100%;
    }

    &-checkbox {
        margin: 2px;
    }
}