/* --global header styling-- */
.header {
    width: 100%;
    background-color: $hb-light-green;

    &-title {
        width: 100%;
        max-width: $smp-max-width;
        text-align: center;
    }
}

@media screen and (min-width: $hb-tb-bottom-breakpoint) and (max-width: $hb-tb-top-breakpoint) {
    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        & a,
        &-title {
            width: 48%;
        }
    }
}

@media screen and (min-width:$hb-lp-bottom-breakpoint) and (max-width:$hb-lp-top-breakpoint) {
    .header {
        font-size: 0.75rem;
    }
}

@media screen and (min-width:$hb-dt-sm-breakpoint) {}