/* --global header styling-- */
.header {
    width: 100%;
    background-color: $hb-light-green;

    &-title {
        width: 100%;
        max-width: $smp-max-width;
        text-align: center;
    }
}

@media screen and (min-width: $hb-tb-bottom-breakpoint) and (max-width: $hb-tb-top-breakpoint) {
    .header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        & a {
            width: 44%;
            max-width: 320px;
        }

        &-title {
            width: 55%;
        }
    }
}

@media screen and (min-width:$hb-lp-bottom-breakpoint) and (max-width:$hb-lp-top-breakpoint) {
    .header {
        position: sticky;
        top: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        & a {
            width: 35%;
            max-width: 280px;
        }
    }
}

@media screen and (min-width:$hb-dt-sm-breakpoint) {
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-evenly;

        &-title {
            width: 50%;
        }
    }
}