/* --global navigation styling-- */
.navigation {
    width: 100%;

    &-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: baseline;
        text-transform: uppercase;

        &_item {
            padding: 4px;
            font-weight: 600;
        }
    }

    a {
        color: $hb-dark-gray;
    }
}

@media screen and (min-width: $hb-tb-bottom-breakpoint) and (max-width: $hb-tb-top-breakpoint) {}

@media screen and (min-width:$hb-lp-bottom-breakpoint) and (max-width:$hb-lp-top-breakpoint) {}

@media screen and (min-width:$hb-dt-sm-breakpoint) {}