/* --global card styling--*/
.card {
    width: 100%;
    max-width: $smp-max-width;
    height: 100%;
    border: 6px solid $hb-dark-gray;
    border-radius: 12px;
    padding: 12px;

    &-title {
        text-align: center;
        text-transform: uppercase;
    }

    &-img {
        display: block;
        width: 100%;
        border-radius: 16px;
    }

    &-text {
        text-align: justify;
    }
}