/* --Herbalife Nutrition global logo styling-- */
.header-logo,
.footer-logo {
    width: 100%;
    max-width: 320px;
    height: 70px;
}

.hero-logo {
    display: block;
    width: 80%;
    max-width: 250px;
    border: 10px solid $hb-hero-bd-img;
    border-radius: 50%;
    margin: auto;
}