/* --Global Reset-- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 1rem Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 8px;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* --global styling-- */
header,
main,
aside,
footer {
  padding: 8px;
}

/* --Herbalife Nutrition global logo styling-- */
.header-logo,
.footer-logo {
  width: 100%;
  max-width: 320px;
  height: 70px;
}

.hero-logo {
  display: block;
  width: 80%;
  max-width: 250px;
  border: 10px solid rgb(255, 255, 0);
  border-radius: 50%;
  margin: auto;
}

/* --global card styling--*/
.card {
  width: 100%;
  max-width: 460px;
  height: 100%;
  border: 6px solid rgb(77, 77, 77);
  border-radius: 12px;
  padding: 12px;
}
.card-title {
  text-align: center;
  text-transform: uppercase;
  padding: 6px;
}
.card-img {
  display: block;
  width: 100%;
  max-width: 320px;
  max-height: 260px;
  border-radius: 16px;
  padding: 6px;
  margin: 0 auto;
}
.card-text, .card-list_item {
  text-align: justify;
  padding: 6px;
}

/* --global form button styling-- */
.form-btn {
  width: 96px;
  height: 36px;
  position: relative;
  align-self: center;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(103, 188, 42);
  cursor: pointer;
  z-index: 0;
  border-radius: 12px;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.form-btn:before {
  content: "";
  background: linear-gradient(45deg, #7ac143, #67bc2a, #dddddd, #c7c7c7, #4d4d4d, #7ac143);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px;
}
.form-btn:active {
  color: #000;
  font-weight: 800;
}
.form-btn:active:after {
  background: transparent;
}
.form-btn:hover:before {
  opacity: 1;
}
.form-btn:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(103, 188, 42);
  left: 0;
  top: 0;
  border-radius: 12px;
  z-index: -1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* --global header styling-- */
.header {
  width: 100%;
  height: 160px;
  background-color: rgb(122, 193, 67);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 12px;
}
.header-title {
  width: 100%;
  max-width: 320px;
  height: 40px;
  text-align: center;
}

/* --Mobile Responsive-- */
@media screen and (min-width: 640px) and (max-width: 766px) {
  .header {
    justify-content: space-around;
  }
}
/* --Tablet Responsive-- */
@media screen and (min-width: 768px) and (max-width: 1022px) {
  .header {
    height: 120px;
    position: sticky;
    top: 0;
    justify-content: space-around;
  }
  .header-logo, .header-title {
    width: 250px;
  }
}
/* --Desktop Responsive-- */
@media screen and (min-width: 1024px) and (max-width: 1980px) {
  .header {
    height: 100px;
    position: sticky;
    top: 0;
    justify-content: space-between;
  }
  .header-logo, .header-title {
    width: 240px;
  }
}
/* --global navigation styling-- */
.navigation {
  width: 100%;
  min-height: 18px;
}
.navigation-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.navigation a {
  color: rgb(77, 77, 77);
  font-weight: 600;
}

/* --Mobile Responsive-- */
@media screen and (min-width: 640px) and (max-width: 766px) {
  .navigation-menu {
    font-size: inherit;
  }
}
/* --Tablet Responsive-- */
@media screen and (min-width: 768px) and (max-width: 1022px) {
  .navigation {
    max-width: 480px;
  }
  .navigation-menu {
    font-size: 1.2rem;
  }
}
/* --Desktop Responsive-- */
@media screen and (min-width: 1024px) and (max-width: 1980px) {
  .navigation {
    max-width: 50%;
  }
  .navigation-menu {
    font-size: 1.2rem;
  }
}
/* --global form styling-- */
.form {
  width: 100%;
  max-width: 460px;
  background-color: rgb(199, 199, 199);
  border: 2px solid rgb(77, 77, 77);
  border-radius: 12px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 8px;
}
.form label {
  width: 100%;
  padding: 4px;
}
.form-input {
  width: 100%;
}
.form-checkbox {
  margin: 2px;
}

/* --global footer styling-- */
.footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: rgb(199, 199, 199);
}
.footer .container {
  text-align: justify;
  border-bottom: 6px solid #000;
}
.footer .container a {
  color: rgb(103, 188, 42);
  font-weight: 800;
}
.footer-text {
  padding: 6px;
}

.legal,
.social-media {
  width: 100%;
}

.footer-legal,
.footer-social_media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
  padding: 4px;
  min-height: 30px;
  max-height: 45px;
}
.footer-legal a,
.footer-social_media a {
  color: rgb(77, 77, 77);
  font-weight: 600;
}

@media screen and (min-width: 600px) and (max-width: 766px) {
  .footer a {
    align-self: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1022px) {
  .footer a {
    align-self: flex-start;
  }
  .footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: start;
  }
  .footer-text {
    width: 33%;
    height: 100%;
    min-height: 160px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-flow: row wrap;
  }
  .footer .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: start;
  }
  .footer-text {
    width: 33%;
    height: 100%;
    min-height: 160px;
  }
}
/* --index.html styling-- */
.hero {
  height: 350px;
  background-image: url("../images/hb_nutrition_wp_black_1547x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.hero .container {
  width: 100%;
}
.hero-text {
  text-align: justify;
}

.main-title {
  text-align: center;
}

.testimonials {
  width: 100%;
}
.testimonials .container {
  display: flex;
  flex-flow: column nowrap;
  padding: 6px;
}

@media screen and (min-width: 640px) and (max-width: 1980px) {
  .hero {
    display: flex;
    align-items: center;
  }
  .hero .container {
    width: 60%;
    font-size: 1.25rem;
  }
  .hero-title, .hero-text {
    padding: 12px;
  }
  .testimonials .container {
    flex-flow: row nowrap;
    align-items: flex-start;
    overflow-x: auto;
  }
  .testimonials .container .card {
    min-height: 240px;
  }
}
/* --products.html styling-- */
.products,
.membership {
  background-color: rgb(221, 221, 221);
  border-radius: 10px;
  margin-bottom: 12px;
}
.products-title,
.membership-title {
  text-transform: uppercase;
  text-align: center;
  padding: 6px;
}
.products .container,
.membership .container {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}
.products .container .card-list_item,
.membership .container .card-list_item {
  list-style-type: disc;
  list-style-position: inside;
}
.products-disclosure,
.membership-disclosure {
  display: block;
  text-align: justify;
  text-transform: uppercase;
  margin-top: 12px;
  padding: 6px;
}

.preparation {
  display: none;
  border-radius: 10px;
}
.preparation-title {
  text-align: center;
}
.preparation .container {
  display: flex;
  flex-flow: column nowrap;
}
.preparation .container .preparation-list_item {
  padding: 6px;
}
.preparation .container .ingredients-list {
  list-style-type: disc;
  padding: 3px;
}

@media screen and (min-width: 640px) and (max-width: 1980px) {
  .products,
.membership {
    width: 100%;
  }
  .products .container,
.membership .container {
    flex-flow: row nowrap;
    overflow-x: auto;
  }
  .products .container .card,
.membership .container .card {
    min-width: 350px;
    min-height: 580px;
  }
  .products-disclosure,
.membership-disclosure {
    text-align: center;
  }
  .membership .container {
    justify-content: center;
  }
}
@media (min-width: 1024px) and (max-width: 1980px) {
  .preparation {
    display: contents;
  }
  .preparation .container {
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 12px;
  }
  .preparation .container .card {
    max-width: 80%;
  }
  .ingredients {
    list-style-type: disc;
    list-style-position: inside;
  }
}
/* --faq.html styling-- */
.questions {
  margin-bottom: 12px;
}
.questions-title {
  text-align: center;
  text-transform: uppercase;
}
.questions .container {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}
.questions .container .card-question {
  text-align: center;
  padding: 6px;
}
.questions .container .card-answer {
  text-align: justify;
  padding: 6px;
}
.questions .container .answer-list {
  list-style-type: disc;
  list-style-position: inside;
}
.questions .container .answer-list_item {
  padding: 3px;
}

.question-form {
  margin-top: 12px;
  padding: 12px;
}
.question-form .form-title {
  text-align: center;
  text-transform: uppercase;
}
.question-form .form-text {
  text-align: justify;
  padding: 12px;
}

/* --location.html styling-- */
.location .location-title {
  text-align: center;
  text-transform: uppercase;
}
.location .container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}
.location .container .address {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 12px;
}
.location .map {
  width: 100%;
  box-shadow: 5px 5px 18px 0 #071f4d;
}

/* --about.html styling-- */
.about-title {
  text-align: center;
  text-transform: uppercase;
}
.about .container {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}
.about .container .card {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
